[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-decouple = "*"
pytz = "*"
apscheduler = "*"
boto = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
